<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Trends</p>
    <a class="panel-block">
      Chinese murder vans
    </a>
    <a class="panel-block">
      Finland is fake!
    </a>
    <a class="panel-block">
      Trump assasination day
    </a>
    <a class="panel-block">
      Biden on life support
    </a>
    <a class="panel-block">
      #GoodnightSleepyJoe
    </a>
    <a class="panel-block">
      India colonizing alternate dimensions
    </a>
  </nav>
</div>